.slotCard {
  transition: all 0.5s ease-in-out;
  width: 90%;
  height: auto;
  border-radius: 40px;
  border: 1.5px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  padding: 40px 20px;
  margin: 40px auto;
  font-family: Montserrat;
  max-width: 1382px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}


.name{
  font-size: 20px;
  font-weight: 600;

}


.textarea {
  margin-bottom: 20px;
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.slotSection {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.inputBlock {
  flex: 1;
  border-radius: 0 0 40px;
  background: rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(10px);
}

.inputGroup {
  margin-bottom: 20px;
}

.lotTitle {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.description {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.descrText {
  color: #999;
  font-size: 16px;
  line-height: 24px;
  width: 80%;
  max-width: 80%; /* добавьте эту строку */
  overflow-wrap: break-word;
}

.photoWrapper {
  position: relative;
  margin-bottom: 20px;
}

.sliderPhoto {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.smallSliderPhotosWrapper {
  display: flex;
  overflow-x: auto;
}

.smallSliderPhoto {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.sliderPhotoPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  color: #999;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color:  var(--button-background);
  color: var(--text-colourBlack);
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--button-background);
}

.displayBlock {
  display: flex;
  flex-direction: column;
  gap: 53px;
  width: 60%;
  padding: 0 3%;
  justify-content: flex-start;
}

.bottomInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid #999;
  padding: 10px;
}

.price{
    color: var(--text-colourBlack);
    font-family: Montserrat Bold;
    font-size: 20px;
}

.greyText{
  color: #999;
  font-size: 16px;
  line-height: 24px;
}

.error {
  border-color: red;
}


@media screen and (max-width:762px) {
  .displayBlock{
    width: 0;
    height: 0;
    visibility: collapse;
  }
}