.slotCard {
  transition: all 0.5s ease-in-out;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  padding: 40px 20px;
  margin: 40px auto;
  max-width: 1382px;
  font-family: Montserrat;
}

.title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
}

.photoWrapper {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.sliderPhoto {
  width: 475px;
  height: 474px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px
}

.smallSliderPhotosWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.smallSliderPhoto,
.active {
  width: 145px;
  height: 103px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px
}

.smallSliderPhoto:hover {
  border: 2px solid #feef9a;
}

.active {
  border: 4px solid #FCD702;
}


.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  padding: 0 7%;
}

.name{
  font-size: 20px;
  font-weight: 600;
}

.slotSection {
  display: flex;
  width: 100%;
}

.descrText {
  color: #999;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  overflow-wrap: break-word;
}
.greyText {
  color: #999;
  font-size: 16px;
  line-height: 24px;
}


.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid #999;
  padding: 10px;

}


.price {
  color: var(--text-colourBlack);
  font-size: 20px;
}

.button {
  width: 133px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--button-background);
  color: var(--Primary-Primary-100, #000);
  font-size: 16px;
}

.button:hover {
  background: #FDEB80;
}

.question{
  margin-top: 40px;
}


/* modal */

.boxForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 260px;

  align-items: center;
  @media screen and (min-width: 320px) {
    width: 260px;
  }
  @media screen and (min-width: 768px) {
    width: 440px;
  }
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 260px;
  flex-direction: column;

  @media screen and (min-width: 320px) {
    width: 260px;
  }
  @media screen and (min-width: 768px) {
    width: 440px;
  }
}

.otherText {
  text-align: center;
}

.input {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border: 2px solid #1e90ff; /* Example border color change when focused */
}

.boxText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.boltText {
  font-size: 20px;
  font-weight: 800;
}

.redValidate {
  color: red;
}


/* timer */

.timer {
  text-align: center;
  color: #000000;
  border-radius: 20px;
  font-weight: 600;
}



/*drop*/

.dropTitle{
  padding-right: 10px;
}


@media screen and (max-width: 936px) {
  .title {
    font-size: 30px;
  }

  .descrText{
    font-size: 12px;
  }

  .sliderPhoto {
  width: 0;
  }

  .bottomInfo{
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
  
  }

  .price,  .greyText{
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .price {
    width: 100%;
  }
}