.newest-content-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 639px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.newest-title {
  color: var(--text-colourBlack);
  text-align: center;
  font-size: 48px;
}

.slider-photo {
  transition: all 0.5s ease-in-out;
  width: 297px;
  height: 265.5px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px
}

.newest-info-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 0 7%;
}

.newest-grey-text {
  color: #999;
  font-size: 16px;
  line-height: 24px;
}

.newest-black-text {
  color: #000;
  font-size: 18px;
  line-height: 150%;
}

.newest-bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newest-price {
  color: var(--text-colourBlack);
  font-size: 20px;
}

.newest-button {
  width: 133px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--button-background);
  color: var(--Primary-Primary-100, #000);
  font-size: 16px;
}

.newest-button:hover {
  background: #FDEB80;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 490px;
}

.visible-slider-zone {
  overflow: hidden;
  width: 1089px;
}

.slider-wrapper {
  display: flex;
  transition: all 0.5s ease-in-out;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
  width: 100%;
}

.slider-card {
  transition: all 0.5s ease-in-out;
  width: 345px;
  height: 453px;
  background-color: var(--text-colourWhite);
  border-radius: 40px;
  border: 1.5px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.newest-circle {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border: 1.5px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newest-circle:hover svg path {
  fill: var(--button-background);
  stroke: var(--button-background);
}


.newest-circle-liked {
  background-color: black;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border: 1.5px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.newest-circle-heart {
  width: 17.5px;
  height: 16px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.prev-button,
.next-button {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background: none;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-top: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newest-arrow-left {
  transform: rotate(180deg);
}

/* 
.next-button:hover .newest-arrow-right,
.prev-button:hover .newest-arrow-left {
  transition: 1s all ease-in-out;
  transform: scale(2);
} */

.next-button:hover,
.prev-button:hover {
  /* transition: 0.5s all ease; */
  box-shadow: 0 0 20px 3px rgba(65, 65, 65, 0.69);
  -webkit-box-shadow: 0 0 20px 3px rgba(65, 65, 65, 0.69);
  -moz-box-shadow: 0 0 20px 3px rgba(65, 65, 65, 0.69);
  border: none;
}


.newest-carrd-point {
  width: 110px;
  height: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 6px;
  margin-top: 43px;
}

.whitePoint {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border: 1px solid black;
  border-radius: 50%;
}

.yellowPoint {
  width: 24px;
  height: 12px;
  flex-shrink: 0;
}

.slider-card.active {
  transition: all 0.5s ease-in-out;
  width: 359px;
  height: 469px;
}

.slider-photo.active {
  transition: all 0.5s ease-in-out;
  width: 310.886px;
  height: 277.898px;
}

@media screen and (max-width: 1427px) {

  .visible-slider-zone {
    width: 723px;
  }
}

@media screen and (max-width: 937px) {
  .newest-content-wrapper {
    gap: 0;
    height: 770px;
  }

  .visible-slider-zone {
    width: 100%;
    margin-left: 30px;
    height: 476px;
  }

  .slider-container {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    width: 100vw;
    height: 581px;
  }

  .slider-card {
    transition: all 0.5s ease-in-out;
    width: 320px;
    height: 428px;
  }

  .slider-card.active {
    transition: all 0.5s ease-in-out;
    width: 310px;
    height: 451px;
  }

  .newest-title {
    font-size: 32px;
  }

  .button-group {
    display: flex;
    padding: 0 30px;
    margin-top: 40px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 65px;

  }

  .slider-photo.active,
  .slider-photo {
    transition: all 0.5s ease-in-out;
    width: 279.109px;
    height: 248.096px;
  }

  .next-button,
  .prev-button {
    margin-top: 0;

  }

  .newest-circle {
    width: 43px;
    height: 43px;
  }

}