.button-element {
  color: var(--text-colourBlack);
  background: var(--button-background);
  border-radius: 24px;
  display: flex;
  width: 208px;
  height: 64px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 20px;
  border: none;
  z-index: 3;
}

.button-element:hover {
  background: #FDEB80;
}


@media screen and (max-width: 1092px) {
  .button-element {
    width: 327px;
    padding: 10px 24px;
    gap: 10px;
    height: 56px;
    border-radius: 16px;
    font-size: 16px;
  }

}