* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

button {
   margin: 0;
   padding: 0;
   border: none;
   background: none;
   font: inherit;
   color: inherit;
   cursor: pointer;
}

.container {
   padding: 31px 72px 31px 81px;
   background-color: #000;
   display: flex;
   justify-content: space-between;
   border-radius: 0 0 40px 40px;
}

.catalog {
   display: flex;
   align-items: center;
   gap: 8px;
}

.catalog p {
   color: #fff;
   font-family: Montserrat Regular;
   font-size: 18px;
   line-height: 150%;
}

.logo {
   display: none;
}

.search-input {
   font-size: 18px;
   background-color: #000;
   font-family: Montserrat Light;
   color: #fff;
   border: 1px solid #71798a;
   border-radius: 50px;
   padding: 12px 11px 12px 53px;
   min-width: 34%;
   outline: none;
   transition: 0.5s ease-out;
   background: url("../../../assets/HeaderImg/zoom-icon.svg") no-repeat 1px 1px;
   background-position: 10px;
   margin-left: 13px;
}

.search-input:focus {
   border: 1px solid #fff;
   transition: 0.5s ease-in;
}

.icon:first-child {
   padding-right: 13px;
}

.icon:nth-child(2) {
   padding-right: 32px;
}

.icon:last-child {
   margin: 3px -1px 0 0;
}

.create-post {
   padding: 0 20px;
   margin: -2.5px 0;
   color: #000;
   background-color: #fff;
   border-radius: 16px;
   font-size: 20px;
   font-family: Montserrat Medium;
   transition: 0.5s;
}

.create-post:hover {
   opacity: 0.7;
   transition: 0.5s;
}

@media (max-width: 992px) {
   .logo {
      display: block;
   }

   .container {
      display: flex;
      justify-content: center;
      height: 72px;
      padding: 0 24px;
      margin-bottom: 100px;
   }

   .catalog {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }

   .catalog p {
      display: none;
   }

   .icons {
      display: none;
   }

   .create-post {
      display: none;
   }

   .search-input {
      display: flex;
      position: absolute;
      min-width: 90%;
      top: 90px;
      margin: 0;

      background: url("../../../assets/HeaderImg/zoom-icon-grey.png") no-repeat 1px 1px;
      background-position: 10px;
   }
}

@media (max-width: 767px) {
   .container {
      margin-bottom: 85px;
   }
}

@media (max-width: 480px) {
   .container {
      margin-bottom: 60px;
   }
}