* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
   overflow: hidden;
   position: relative;
   width: 100%;
   padding: 70px 42px 122px 80px;
   gap: 30px;
}

.first {
   display: flex;
   flex-direction: column;
   width: 70%;
}

.first h1 {
   font-size: 50px;
   max-width: 70%;
}

.first img {
   margin-top: 50px;
   width: 100%;
}

.wrapper_text-button {
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   align-items: center;
   margin-top: 50px;
}

.wrapper_text-button p {
   max-width: 70%;
}

.wrapper_text-button button {
   background-color: #fcd702;
   border-radius: 40px;
   width: 130px;
   height: 40px;
}

.second {
   width: 30%;
   background-size: contain;
   background-image: url(../../assets/HeaderImg/second_img.png);
   background-repeat: no-repeat;
}

.stripe {
   display: flex;
   align-items: center;
   color: black;
   position: absolute;
   bottom: 227px;
   left: -30px;
   background-color: #fff;
   width: 125%;
   height: 58px;
   transform: rotate(-6.6deg);
   gap: 22px;
}

@media (max-width: 1240px) {
}

@media (max-width: 992px) {
   .stripe {
      height: 50px;
      bottom: 190px;
   }
   
}

@media (max-width: 767px) {
   .container {
      padding: 10px 42px 30px 42px;
   }
   .second {
      display: none;
   }
   .first {
      width: 100%;
      align-items: center;
   }
   .first h1 {
      max-width: calc(100% - 2*42px);
      font-size: 6.6vw;
      text-align: center;
    }
    
}

