.wrapper-circle_text {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   animation: spinning 10s linear infinite;
   transform-origin: 50% 50%;
}

.wrapper-circle_text img {
   position: absolute;
}

.link_svg {
   height: 115px;
   width: 115px;
   display: inline-block;
   font: 25px "IBM Plex Serif";
   letter-spacing: 5px;
}

.link_text {
   font-family: Montserrat Bold;

   fill: #fff;
}

@keyframes spinning {
   to {
      transform: rotate(360deg);
   }
}

@media (max-width: 767px) {
   .link_svg {
      height: 90px;
      width: 90px;
   }
}