* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: black;
}

button {
   background: none;
   border: none;
}

.container {
   padding: 24px 72px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: Montserrat Regular;
}

.logo {
   cursor: pointer;
}

.sidebar-menu {
   display: flex;
   gap: 65px;
   flex-wrap: wrap;
}

.icons {
   display: flex;
   gap: 25px;
}

.icon {
   cursor: pointer;
}

@media (max-width: 992px) {
   .container {
      display: none;
   }
}
