#cards_auction__wrapper
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    font-family: Montserrat Normal

    .header
        width: 100%
        height: 87px
        background: blue

    .cards_auction__title
        margin-top: 100px
        width: 100%
        height: 80px
        display: flex
        align-items: center
        justify-content: center

        & span
            text-transform: uppercase
            font-family: Montserrat Bold
            font-size: 48px
            color: black

    .cards_auction__length
        width: 90%
        height: 44px
        display: flex
        flex-direction: column
        justify-content: space-between

        & > div
            width: 100%
            display: flex
            justify-content: space-between

            &  > span
                color: #7F7F7F

        & > span
            width: 100%
            height: 1px
            background: #B2B2B2

    .cards_filter__button
        font-family: Montserrat Normal
        font-size: 18px
        color: black
        background: none
        display: flex
        align-items: center
        justify-content: center
        border: none
        gap: 8px

    .cards_grid__wrapper
        width: 90%
        margin-top: 30px
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-row-gap: 32px

        & > div
            display: flex
            flex-direction: column
            align-items: center

@media screen and (max-width : 1400px)
    #cards_auction__wrapper
        .cards_grid__wrapper
            grid-template-columns: repeat(3, 1fr)

@media screen and (max-width : 1070px)
    #cards_auction__wrapper
        .cards_grid__wrapper
            grid-template-columns: repeat(2, 1fr)
@media screen and (max-width : 1070px)
    #cards_auction__wrapper
        .cards_grid__wrapper
            grid-template-columns: repeat(1, 1fr)
