.header
    width: 100%
    height: 87px
    background: blue
#cards_auction__wrapper
    width: 100%
    height: 100%
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    font-family: Montserrat Normal

    .cards_auction__title
        margin-top: 100px
        width: 100%

        display: flex
        align-items: center
        justify-content: center
        text-align: center
        @media screen and (min-width: 768px)
            height: 80px

        & span
            text-transform: uppercase
            font-family: Montserrat Bold
            font-size: 48px
            color: black

    .cards_auction__length
        width: 90%
        max-width: 1440px
        height: 44px
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-top: 10px

        & > div
            width: 100%
            display: flex
            justify-content: space-between

            &  > span
                color: #7F7F7F

        & > span
            width: 100%
            height: 1px
            background: #B2B2B2

    .cards_filter__label
        display: flex
        align-items: center

        .selected_item
            text-align: center
            outline: none
            width: 100px
            height: 30px
            border-radius: 7px
            border: 2px solid gray
            padding-left: 5px
            padding-right: 5px
            -webkit-appearance: none
            -moz-appearance: none
            appearance: none
            &::dropdown-menu
                border-radius: 10px
            &:focus
                border: 2px solid #1e90ff

    .cards_grid__wrapper
        width: 90%
        max-width: 1440px
        max-height: 1415px
        margin-top: 30px
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-column-gap: 20px
        grid-row-gap: 32px
        margin-bottom: 100px

        & > div
            display: flex
            flex-direction: column
            align-items: center

@media screen and (max-width : 1440px)
    #cards_auction__wrapper
        .cards_grid__wrapper
            grid-template-columns: repeat(3, 1fr)
            max-height: 100%
@media screen and (max-width : 1070px)
    #cards_auction__wrapper
        .cards_grid__wrapper
            grid-template-columns: repeat(2, 1fr)
            max-height: 100%
@media screen and (max-width : 710px)
    #cards_auction__wrapper
        .cards_grid__wrapper
            grid-template-columns: repeat(1, 1fr)
            max-height: 100%
