.map {
    position: absolute;
    z-index: -100;
    width: 125%;
    height: 1475px;
    opacity: 0.3;
    filter: drop-shadow(0 0 0.75rem rgb(6, 34, 49));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -108px;
}