.slider-photo {
  transition: all 0.5s ease-in-out;
  width: 262px;
  height: 247px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.newest-info-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 0 7%;
}

.newest-grey-text {
  color: #999;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
}

.newest-black-text {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 150%;
}

.newest-bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newest-price {
  color: var(--text-colourBlack);
  font-family: Montserrat Bold;
  font-size: 20px;
}

.newest-button {
  width: 133px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--button-background);
  color: var(--Primary-Primary-100, #000);
  font-family: Montserrat SemiBold;
  font-size: 16px;
}

.newest-button:hover {
  background: #fdeb80;
}

.slider-card {
  transition: all 0.5s ease-in-out;
  width: 310px;
  height: 451px;
  background-color: var(--text-colourWhite);
  border-radius: 40px;
  border: 1.5px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.newest-circle {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border: 1.5px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
