.footerWrapper {
  position: relative;
  width: 100%;
  min-height: 766px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px 40px 0 0;
  display: flex;
  margin-top: 40px;
  align-content: space-between;
  flex-wrap: wrap;
}

.footerWrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 336px;
  background: linear-gradient(180deg, #8c8989 -34.08%, rgba(0, 0, 0, 0.00) 90.92%);
  top: 0;
  z-index: 0;
  border-radius: 40px;
}

.upperInfo {
  width: 100%;
  min-height: 444px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 25% 38px 25%;
  z-index: 1;
  justify-content: space-between;
}

.upperTitle {
  color: #FFF;
  font-family: Montserrat Normal;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
}

.upperDescr {
  color: #3e3d3d;
  font-family: Montserrat Normal;
  font-size: 24px;
  text-align: center;
}


.bottomInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 318px;
  border-radius: 40px 40px 0px 0px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

.mainInfo {
  display: flex;
  padding: 32px 135.5px 52px 72px;
  justify-content: space-between;

}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 121px;
}

.menu {
  width: 55%;
  height: 172px;
  display: flex;
  justify-content: space-between;
}

.menu div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuTitle {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Normal";
  font-size: 20px;
}

.icons {
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.button {
  color: var(--text-colourBlack);
  display: flex;
  width: 219px;
  height: 50px;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  padding: 0 25px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.phone {
  width: 24px;
  height: 24px;
}

.buttonText {
  color: rgb(0, 0, 0);
  font-family: "Montserrat Normal";
  font-size: 16px;
  text-transform: uppercase;
}

.payment {
  display: flex;
  position: relative;
  width: 100%;
  height: 62px;
  border-top: 1px solid rgb(255 255 255);
  align-items: center;
  justify-content: flex-end;
  padding-right: 4%;
  color: wheat;
}

.cards {
  width: 216px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.text {
  width: 300px;
  height: 24px;
  display: flex;
  color: rgb(255, 255, 255);
  font-family: "Montserrat Normal";
  font-size: 16px;
  position: relative;
}

.cardIcon:hover{
  outline: 1px solid black;
  opacity: 0.7;
  border-radius: 50%;
}

@media screen and (max-width: 1029px) {

  .footerWrapper {
    height: 1038px;
  }

  .upperInfo {
    padding: 72px 25% 36px 25%;
    min-height: 549px;
  }

  .upperTitle {
    font-size: 32px;
    text-align: center;
  }

  .upperDescr {
    font-size: 18px;
  }

  .mainInfo {
    flex-direction: column;
    padding: 32px 0 52px 0;
    align-items: center;
    justify-content: space-around;
    height: 85%;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu div {
    margin-bottom: 4px;
  }

  .bottomInfo {
    height: 50%;
  }

  .payment {
    height: 82px;
  }
}